<html>
  <head>
    <title>Botanic Chain</title>
  </head>
  <body>
    <h1>Botanic Chain Home</h1><br><br><br>
    <ul>
      <li><a href="/test.html">test page</a></li>
      <li><a href="/mine_block.html">Mine block</a></li>
      <li><a href="/get_chain.html">See current chain</a></li>
      <li><a href="/is_valid.html">See if current chain is valid</a></li>
      <li><a href="/join.html">join network</a></li>
      <li><a href="/see_nodes.html">See nodes in current network</a></li>
      <li><a href="/generate_wallet.html">generate wallet</a></li>
      <li><a href="/send_coins.html">send coins</a></li>
      <li><a href="/balance.html">check balance</a></li>
    </ul>
  </body>
</html>